@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

.container{
  
    width:50%;
    min-height:100vh;
    padding: 10px;
    flex-direction:column;
    justify-content:center;
    background-color:#FAFAFB;
    
}

.whole-section{
    display: flex;
    width: 100%;
    
}


.sign-up_form{
  
    padding: 5px;
    color: white;
    
}


.logo{

    text-align: center;
    padding:0px;


}

.logo_img{
    width:180px;
    height: auto;
    
}

.container h1{
    text-align: center;
    color: black;

}

.container p{
    color: #8B8B8B;
    text-align: center;
    font-size: 16px;
    padding-top:24px;

}

.input-box {
    position: relative;
    margin-top: 10px;
    padding-left: 110px;
    align-items: center;
  
    
}

.input-box input {
    width: 80%;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #ced2d7;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 20px;
    color: black;

    
}

.input-box i {
    position: absolute;
    right:140px; 
    top: 50%; 
    transform: translateY(-50%);
    color: #8B8F94;
    cursor: pointer;
}


.check-box{
    margin-top: 10px;
    justify-content: space-between;
    color: #8B8B8B;
    margin-left: 110px;
    display: flex;

    
}

.check-box a{
    text-decoration: none;
    color:  #f38d39;
    margin-right: 80px;
}

.check-box input{
    accent-color: #f38d39;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.terms{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Sign {
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-left: 100px;
    background-color:  #f38d39;
    color: white;
    margin-top: 15px;
   
}

button:hover{
    background-color: #f57710;
}

.or{
    color: black;
    text-align: center;
    margin-top: 8px;

}



.google-btn{
    width: 70%;
    height: 50px;
   background-color: #ffffff;
    border: 2px solid #ced2d7;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
   
    margin-left: 100px;
    display: flex;
    align-items: center;      
    justify-content: center; 
    gap: 12px;
    margin-top: -12px;              
}

.google-btn:hover{
    background-color: #cfd2cf;
}

.google-btn i{
    color: #ffffff;
    font-size: 18px;
    
}

.google-btn span{
    margin:0;
    padding:0;
    color:black;
}
.google-icon{
    width: 20px;
    height: 20px;
}

.signup-text{
    margin-top: 10px;
    text-align: center;
    color: white;
}

.signup-text b a{
    text-decoration: none;
    color: black;
}


.image-section{
    width: 50%;
    min-height: 100vh;
    padding: 0;

}

.image-section video{
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}